@import "tailwindcss";

:root {
  --background: #F8F9FA;
  --foreground: #171717;
}

@theme inline {
  --color-primary: #1B4F72;
  --color-secondary: #F39C12;
  --color-accent: #2ECC71;
  --color-neutral: #F8F9FA;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-tajawal: var(--font-tajawal);
}

body {
  background: var(--background);
  color: var(--foreground);
}
